body {
    font-family: 'Monokai', sans-serif;
    margin: 0;
    background-color: mistyrose;
    color: maroon;
}

/* Header */
header {
    background-color: lightpink;
    text-align: center;
    padding: 30px;
}

/* Navigation */
nav {
    background-color: seashell;
    text-align: center;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* SECTION */
section {
    background-color: #fff0f5;
    margin: 40px auto;
    padding: 30px;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}


/* Profile Image */
.profile-pic {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 300px;
    height: 130px;
    border-radius: 10px;
}

.image-box {
    text-align: center;
    margin: 20px 0;
}

.image-box img {
    width: 200px;
    border-radius: 10px;
}

.image-box p {
    margin-top: 10px;
    font-style: italic;
}


/* Footer */
footer {
    background-color: lightpink;
    text-align: center;
    padding: 10px;
}

/* Text */
.italic {
    font-style: italic;
}

/* Animations */
.fade-in {
    animation: fade 2s;
}

.slide-in {
    animation: slide 1.5s;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
